<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='senyas-logo.png')}}">
    <title>Senyas</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
  <div id="loading" style="display: none;">
    <img src="{{url_for('static', filename='loading.gif')}}" alt="" />
  </div>

  <!--- History popup window --->
    <div class="modal" id='modal1'>
      <div class="modal-header">
        <div class="title">History</div>
        <button data-close-button class="close-button">&times;</button>
      </div>

      <div class="modal-body">
        <h2>Input bar</h2>
        <p>You can type any word or phraes on this bar that you would want to be translated into filipino sign language.</p>
        <br/>
        <img id='search' src="{{url_for('static', filename='search.png')}}" > </img>
      </div>

      <div class="modal-body">
        <h2>Microphone button</h2>
        <img src="{{url_for('static', filename='mic.png')}}" style="vertical-align:middle"> </img>
        Click this button if you want to use the speech recognition feature for translation.
      </div>

      <div class="modal-body">
        <h2>Send button</h2>
        <img src="{{url_for('static', filename='send-button.png')}}" width="30px" height='auto' style="vertical-align:middle"> </img>
        This button will initiate the translation for your input from text or speech to filipino sign language.
      </div>

      <div class="modal-body">
        <h2>Mood bar</h2>
        <img src="{{url_for('static', filename='sad.png')}}"  width="80px" height='auto' style="vertical-align:middle"> </img>
        <img src="{{url_for('static', filename='happy.png')}}"  width="80px" height='auto' style="vertical-align:middle"> </img>
        This bar will indicate if the mood of the message is either a negative sentiment or a positive sentiment,
        red indicates negative and green indicates positive.
      </div>
    </div>

  <!--- Dictionary popup window --->
    <div class="modal" id='modal2'>
      <div class="modal-header">
        <div class="title">Dictionary</div>
        <button data-close-button class="close-button">&times;</button>
      </div>

      <div class="modal-body">
        <ul class="dictionary-list">
          <li>Alphabet (A-Z)</li>
          <li>Numbers (1-10)</li>
          <li><i>Ano pangalan mo?</i></li>
          <li><i>Bingi ka ba?</i></li>
          <li>Hello</li>
          <li>Hey</li>
          <li>Hi</li>
          <li><i>Hindi</i></li>
          <li>I love you</li>
          <li><i>Kumusta ka?</i></li>
          <li><i>Magandang umaga</i></li>
          <li><i>Mahal kita</i></li>
          <li><i>Malungkot ako</i></li>
          <li>Okay</li>
          <li><i>Oo</i></li>
          <li><i>Opo</i></li>
          <li><i>Salamat</i></li>
        </ul>
      </div>
    </div>

  <!--- Help popup window --->
    <div class="modal" id='modal3'>
      <div class="modal-header">
        <div class="title">Help</div>
        <button data-close-button class="close-button">&times;</button>
      </div>

      <div class="modal-body">
          <div class="content">
          <h2>Filipino Sign Language (FSL)</h2>
            FSL is the natural sign language of Filipino Deaf community. 
            It is a visual language that belongs to the American Sign Language family of sign languages. 
            It is the symbol of collective identity of the Filipino Deaf community, and signifies the goal of 
            self-determination. 
          </div>
          
          <div class="content">
            <h2>WHAT IS SENYAS?</h2>
            senyas is your on-the-go Filipino Sign Language ( FSL )
            translator and interpreter named after the Filipino word equivalent of 'sign'. 
            It automatically translates audio to FSL through artificial Intelligence.
          </div>

          <div class="content">
            <h2>HOW TO USE</h2>
            The app is simple to use! Simply press and hold the microphone button as you speak the words that you want 
            to be translated and interpreted. Our avatar will accurately “senyas” or sign it back to you. 
            If you want to look back to the previous speech inputs you made, a History menu is also available.
          </div>

          <div class="content">
            <h2>ADDITIONAL INFORMATION</h2>
            Alpha build 1.0.0
          </div>
      </div>
    </div>

    <div  id="overlay"></div>

    <section class="showcase">
        <header>
          <h2 class="logo">SenYas</h2>
          <div class="toggle"></div>        
        </header>

        <video src="{{url_for('static', filename=vid)}}" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
          <h2>Hello! </h2> 
          <h3>I am senyas</h3>
          <p>your personal FSL translator.</p>
        </div>
        
        <div class="input-area">
          <form action="#" method="post">
            <input id="transcript" autocomplete="false" name="hidden" class="message-box" type="text" id="name"
            minlength="1" maxlength="100" size="1" onkeyup="success()">
            <button disabled id = "send-button" class="send-button" onclick="$('#loading').show();"> <span>Send</span> </button>
          </form>
            <img onclick="startDictation()" src="{{url_for('static', filename='mic.gif')}}" />
            <img id='emotion' class="emotion-class" src="{{url_for('static', filename=emotion)}}" alt="" />
        </div>
    </section>

    <div class="menu">
      <ul>
        <button class="history-button" data-modal-target="#modal1"> <span>history</span> </button>
        <button class="dictionary-button" data-modal-target="#modal2"> <span>dictionary</span> </button>
        <button class="help-button" data-modal-target="#modal3"> <span>help</span> </button>
      </ul>
    </div>

    <script>
      const menuToggle = document.querySelector('.toggle');
      const showcase = document.querySelector('.showcase');
      const input_area = document.querySelector('.input-area');
      const emotionBar = document.querySelector('.emotion-class');
      menuToggle.addEventListener('click', () => {
        menuToggle.classList.toggle('active');
        showcase.classList.toggle('active'); 
        input_area.classList.toggle('active'); 
        emotionBar.classList.toggle('active');
      })
    </script>

    <script src="{{url_for('static', filename='modal.js')}}"> </script>

    <script>
      function startDictation() {
        if (window.hasOwnProperty('webkitSpeechRecognition')) {
          var recognition = new webkitSpeechRecognition();
          recognition.continuous = false;
          recognition.interimResults = false;
          recognition.lang = "fil-PH";
          recognition.start();
          recognition.onresult = function(e) {
            document.getElementById('transcript').value
                                    = e.results[0][0].transcript;
            recognition.stop();
            document.getElementById('labnol').submit();
          };
      
          recognition.onerror = function(e) {
            recognition.stop();
          }
        }
      }
    </script>

    <script>
      function success() {
        if(document.getElementById("transcript").value==="") { 
                document.getElementById('send-button').disabled = true; 
            } else { 
                document.getElementById('send-button').disabled = false;
            }
        }
    </script>
</body>
</html>